header{
    background-color: black;

    .nav-principal{
        a{
            text-decoration: none;
            color: white;
            margin-right: 20px;
            font-size: 0.9rem;
        }
    }

    img{
        width: 100px;
        padding: 10px 0;
    }

    .nav-secundary{
        a{
            text-decoration: none;
            color: white;
            margin-left: 20px;
        }
        
    }
}

@media (max-width: 476px){
    header{
        .nav-principal{
            margin-left: 20px;
        }

        .nav-secundary{
            margin-right: 60px;   
        }
    }
}