header{
    background-color: black;

    .icon{
        display: none; 
     }

    .nav-principal{
        a{
            text-decoration: none;
            color: white;
            margin-right: 20px;
            font-size: 0.9rem;
        }
    }

    img{
        width: 100px;
        padding: 10px 0;
    }

    .nav-secundary{
        a{
            text-decoration: none;
            color: white;
            margin-left: 20px;
        }
    }  
}


@media (max-width: 768px){
    header{

        .icon{
            display: block; 
         }

        .inactive-nav-principal,
        .inactive-nav-secundary{
            display: none !important;
            animation: ease 1s;
        }

        a.show_menu{
            top: 65px;
        }

        .row{
            display: block;

            .nav-principal{
                display: flex;
                display: flex;
                flex-direction: column;
                text-align: left;
                margin-left: 20px;
                padding-top: 50px;

                a{
                    font-size: 1.5rem;
                    padding-top: 8px;
                }
            }

            .nav-secundary{
                display: flex;
                flex-direction: column;
                text-align: left;

                a{
                    font-size: 1.5rem;
                    padding-top: 8px;
                }
            }

            .img-logo{
                position: absolute;
                right: 104px;
                top: 85px;
            }
        }

        .icon{
            position: absolute;
            z-index: 1;
            top: 90px;
            right: 20px;
            font-size: 1.9rem;
            color: white;
        }
        
    }
}