.text-benefits{

    img{
        width: 100%;
    }

    p{
        font-size: 1.6rem;
        margin-left: 20px;
        width: 100%;
    }
    
    .product-drops{
        background: url("../assets/edena-producto-ojos.png");
        background-position: right;
        background-size: cover;
        // left: 20%;
    }

    .bg-beige{
        width: 100%;
    }


}

.lorem{

    margin-top: 120px;
    
    h1{
        font-size: 1.9rem;
        margin-left: 20px;
        margin-right: 20px;
        text-align: left;
    }

    p{
        margin-left: 20px;
        margin-right: 20px;
    }
}

.skin{
    margin-top: 170px;

    img{
        width: 100%;
    }
}