.text-benefits{

    img{
        width: 100%;
    }

    p{
        font-size: 1.6rem;
        margin-left: 20px;
        width: 100%;
    }
    
    .product-drops{
        background: url("../assets/edena-producto-ojos.png");
        background-position: right;
        background-size: cover;
        // left: 20%;
    }

    .bg-beige{
        width: 100%;
    }


}

.lorem{

    margin-top: 120px;
    
    h1{
        font-size: 1.9rem;
        margin-left: 20px;
        margin-right: 20px;
        text-align: left;
    }

    p{
        margin-left: 20px;
        margin-right: 20px;
    }
}

.skin{

    background-color:  #faf2f2;
    padding-bottom: 80px;
    margin-top: 170px;

    .row{
        margin-left: 10px;
    }

    img{
        width: 100%;
    }

    h1{
        font-size: 1.8rem;
        width: 70%;
    }

    .date{
        margin: 20px 0 20px;
    }

    .description{
        width: 75%;
        font-size: 0.9rem;   
    }

    a{
        text-decoration: none;
        color: black;
        border: 1px solid rgb(66, 66, 66);
        outline: none;
        text-transform: uppercase;
        font-size: 0.8rem;
        padding: 10px 10px 10px 10px;
        width: 50%;

        &:hover{
            background-color: black;
            color: white;
        }
    }

    i{
        color: black;
        border: white;
        position: relative;
        left: 50%;
        font-size: 0.8rem;

        &:hover{
            color: white;
        }
    }
}

.text-nourishes-the-skin{
    margin-top: 100px;
    h1{
        font-size: 1.7rem;
        margin-right: 20px;
        margin-left: 20px;
    }
}

.btn{
    background-color: black;
    color: white;
    width: 60%;
    border-radius: 0;
    top: 0;
    z-index: 5;
    right: 20%;
    top: 50%;

    &:hover{
        background-color: white;
    }
    

    i{
        float: right;
        margin: 5px 3px;
    }
}